/*tooltip styles*/

/*these styles come from: https://github.com/Caged/d3-tip*/
.d3-tip {
  z-index: 101;
  line-height: 1;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 1px;
  text-align: center;
  pointer-events: none;
  width: 150px;
}

/* Northward tooltips */
.d3-tip.n:after {
/*content: "\25BC";*/
margin: -1px 0 0 0;
top: 100%;
left: 0;
text-align: center;
}

/* Southward tooltips */
.d3-tip.s:after {
/*content: "\25B2";*/
margin: 0 0 1px 0;
top: -8px;
left: 0;
text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Westward tooltips */
.d3-tip.w:after {
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}


body {
  font-family: Trebuchet, sans-serif;
  color: black;
  font-size: 14px;
  font-weight: normal;
}

label {
  font-weight: normal;
}

#page-header {
  position: fixed;
  width: 100%;
  height: 140px;
  top: 0px;
  left: 0px;
  padding: 5px;
  background-color: #CCCCCC;
  z-index: 100;
  border-bottom: 2px solid black;
}

#page-content {
  	margin-top: 150px;
}

#page-content>div {
	margin-right: auto;
	margin-left: auto;
}

#header_box {
	width: 1230px;
	margin-left: auto;
	margin-right: auto;
}

#champ_image {
 	position: absolute;
	margin-left: 10px;
 	margin-top: 5px;
 	width: 100px;
  	text-align: center;
}

#champ {
	position: absolute;
	top: -5px;
	margin-left: 175px;
}

#champ_name {
	font-size: 78px;
	font-family: 'Marvel', cursive;
	font-weight: bold;
}

#champ_name:hover {
	color: steelblue;
	cursor: pointer;
}

#champ_title {
	font-family: 'Marvel', cursive;
	font-size: 45px;
	margin-left: 10px;
}

#champ_blurb {
	position: absolute;
	width: 650px;
	margin-left: 220px;
	top: 90px;
	font-size: 12px;
	text-align: center;
}

#champion_dropdown {
	position: absolute;
	margin-left: 850px;
	top: 10px;
}

#stat_graphs {
	width: 1230px;
}

#page_content>div {
	margin-left: auto;
	margin-right: auto;
}

.graph_row > div {
	display: inline-block;
	vertical-align: top;
}

.graph_row > .graph_col {
	width: 450px;
}

#winrate_container {
	position: relative;
	width: 450px;
}

#summoner_spells_container {
	width: 450px;
}

#items_container {
	width: 770px;
	height: 370px;
}

.ability_pm_row {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

#abilities {
	width: 400px;
	position: relative;
}

#xpm_container {
	width: 370px;
	position: relative;
  	font: 10px sans-serif;
}

#gpm_container {
	width: 370px;
	position: relative;
  	font: 10px sans-serif;
}

.masteries_row {
	width: 810px;
	margin-left: auto;
	margin-right: auto;
}

#masteries {
	width: 810px;
}

#masteries_container {
	margin-left: 10px;
	width: 800px;
	position: relative;
	font-family: 'Dosis';
	font-size: 18px;
	font-weight: bold;
}

#masteries_container img {
	opacity: 0.4;
}

#masteries_title {
	width: 800px;
	text-align: center;
	font-family: 'Dosis';
	font-size: 24px;
	font-weight: bold;
}

.mastery_column {
	display: inline-block;
	width: 240px;
	height: 325px;
	margin-left: 10px;
	margin-right: 10px;
}

.column_header {
	text-align: center;
}

/*masteries*/
.mastery_col {
	display: inline-block;
	vertical-align: top;
	width: 45px;
	margin-left: 5px;
	margin-right: 5px;
}

.mastery_row {
	margin-top: 5px;
}


/*histogram css*/

.bar {
  fill: #8AB8E6;
  shape-rendering: crispEdges;
}

.bar:hover {
  fill: green;
}

.bar text {
  fill: #fff;
}

.item_text {
	fill: white;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#items_container {
  font: 10px sans-serif;
}

.bar rect:hover {
	fill: green;
}

.bar_xpm rect:hover {
	fill: green;
}

.bar_gpm rect:hover {
	fill: green;
}

/*html tooltip css*/
[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    z-index: 101;
    line-height: 1;
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 1px;
    text-align: center;
    pointer-events: none;
    width: 150px;
    font-family: Arial; 
    font-size: 14px;
    font-weight: normal;
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    z-index: 101;
    line-height: 1;
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 1px;
    text-align: center;
    pointer-events: none;
    width: 150px;
    font-family: Arial; 
    font-size: 14px;
    font-weight: normal;
    white-space: pre-wrap
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#logo {
	position: absolute;
	right: 10px;
	top: 10px;
}

#value_sort_label {
	position: absolute;
	top: 150px;
	font-size: 12px;
}

#cost_sort_label {
	position: absolute;
	top: 170px;
	left: 453px;
	font-size: 12px;
}

#item_sort_label {
	position: absolute;
	top: 190px;
	left: 453px;
	font-size: 12px;
}

.dropdown-menu>li>a, .dropdown-menu {
    background-color: #8AB8E6;
    color: white;
}

.footer {
  width: 1060px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #4f4f4f;
}

.footer a {
  color: #4f4f4f;
}

.abilities {
	font-family: Dosis;
	font-size: 22px;
}

