body {
  font-family: Trebuchet, sans-serif;
  color: black;
  font-size: 14px;
  font-weight: normal;
}

label {
  font-weight: normal;
}

#page-header {
  position: fixed;
  width: 100%;
  height: 140px;
  top: 0px;
  left: 0px;
  padding: 5px;
  background-color: #CCCCCC;
  z-index: 100;
  border-bottom: 2px solid black;
}

#page-content {
  	margin-top: 140px;
}

#page-content>div {
	margin-right: auto;
	margin-left: auto;
}

#champ_image {
 	position: absolute;
	margin-left: 10px;
 	margin-top: 5px;
 	width: 100px;
  	text-align: center;
}

#champ {
	position: absolute;
	top: -5px;
	left: 175px;
}

#champ_name {
	font-size: 78px;
	font-family: 'Marvel', cursive;
	font-weight: bold;
}

#champ_title {
	font-family: 'Marvel', cursive;
	font-size: 45px;
	margin-left: 10px;
}

#champ_blurb {
	position: absolute;
	width: 650px;
	left: 220px;
	top: 90px;
	font-size: 12px;
	text-align: center;
}

#champion_dropdown {
	position: absolute;
	left: 900px;
}




